.title-part {
  display: flex;
  justify-content: space-between;
}

.title {
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 3px;
  font-size: 1.5em;
  line-height: 48px;
  padding-bottom: 5px;
  color: #f87f27;
  background: linear-gradient(to right, #f87f27, #262628);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.table {
  vertical-align: middle;
  width: 95%;
}

.table tr {
  text-align: center;
}

.table tr td {
  width: 45%;
  text-align: start !important;
}
