<div class="container-fluid footer text-center">
  <div class="container-fluid row mt-3">
    <div class="col-md-2 align-content-center">
      <img src="images/book-logo1.png" class="img-fluid" alt="footer-logo" />
      <p class="logo-text">Rewayat</p>
    </div>
    <div class="col-md-3">
      <h6 class="footer-title">Quick Link</h6>
      <ul>
        <li [routerLink]="'/home'" routerLinkActive="router-link-active">
          Homepage
        </li>
        <li [routerLink]="'/stories/latest-stories'" routerLinkActive="router-link-active">
          Latest Stories
        </li>
        <li [routerLink]="'/stories/popular-stories'" routerLinkActive="router-link-active">
          Popular Stories
        </li>
      </ul>
    </div>
    <div class="col-md-3">
      <h6 class="footer-title">Quick Link</h6>
      <ul>
        <li [routerLink]="'/about'" routerLinkActive="router-link-active">
          About
        </li>
        <li [routerLink]="'/contact'" routerLinkActive="router-link-active">
          Contact us
        </li>
      </ul>
    </div>
    <div class="col-md-2 contact">
      <h6 class="footer-title">Contact Us</h6>
      <p>Email: <a href="mailto:email@example.com">example&gmail.com</a></p>
      <p>Phone: +1 123 456 7890</p>
    </div>
    <div class="col-md-2 social text-center">
      <h6 class="footer-title text-center">Social Media</h6>
      <a href="#">
        <p class="sr-only">facebook</p>
        <i class="fab fa-facebook-square ps-5"></i>
      </a>
      <a href="#">
        <p class="sr-only">twitter</p>
        <i class="fab fa-twitter-square ps-5"></i>
      </a>
      <a href="#">
        <p class="sr-only">instagram</p>
        <i class="fab fa-instagram-square ps-5"></i>
      </a>
      <a href="#">
        <p class="sr-only">linkedin</p>
        <i class="fab fa-linkedin ps-5"></i>
      </a>
    </div>
  </div>
</div>
