.banner {
  background: linear-gradient(to bottom, #ded9c4, #e2bf9a);
}

.container {
  max-width: 100%;
}

.container h1 b {
  color: #fc7b1d;
}

.img-fluid {
  width: 100%;
  max-width: 100%;
  height: 425px;
}
