/* src/app/my-component/my-component.component.scss */

/*.my-custom-button {
  background-color: var(--my-primary-color);
  color: var(--light-mode-button-text-color);
}*/

/* Dark mode styles */
/*.dark-mode .my-custom-button {
  background-color: var(--my-secondary-color);
  color: var(--dark-mode-button-text-color);
  border: 1px solid var(--dark-mode-border-color);
}*/
