.title-part {
  display: flex;
  justify-content: space-between;
}

.title {
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 3px;
  font-size: 1.5em;
  line-height: 48px;
  padding-bottom: 5px;
  color: #f87f27;
  background: linear-gradient(to right, #f87f27, #262628);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.btn {
  background-color: #f87f27;
  color: #ffffff;
  font-size: 16px;
  line-height: 26px;
  font-weight: 500;
  margin: 10px 0px;
}

.btn:hover {
  background-color: #262628;
  color: #f87f27;
}
