<div class="container">
  <div class="title-part">
    <h5 class="title">Tags</h5>
    <button type="button" class="btn" (click)="addTag()">Add Tag</button>
  </div>
  <div class="mat-elevation-z8">
    <!-- <table mat-table [dataSource]="dataSource"> -->
      <!-- Name Column -->
      <!-- <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let element">{{ element.name }}</td>
      </ng-container> -->

      <!-- Actions Column -->
      <!-- <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef>Actions</th>
        <td mat-cell *matCellDef="let element">
          <button class="btn bg-warning mx-3" (click)="edit(element.id)">
            Edit
          </button>
          <button class="btn bg-danger" (click)="deleteTag(element.id)">
            Delete
          </button>
        </td>
      </ng-container> -->

      <!-- <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table> -->

    <table class="table text-center">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let tag of tags">
          <td>{{ tag.name }}</td>
          <td>
            <button class="btn bg-warning mx-3" (click)="edit(tag.id)">
              Edit
            </button>
            <button class="btn bg-danger" (click)="deleteTag(tag.id)">
              Delete
            </button>
          </td>
        </tr>
      </tbody>
    </table>

    <mat-paginator
      [pageSizeOptions]="[5, 10, 20]"
      showFirstLastButtons
      aria-label="Select page of periodic elements"
    >
    </mat-paginator>
  </div>
</div>
