.container{
  padding: 0px 0px;
  margin-inline-start: 3rem;
}

h3.title {
  color: #fc7b1d;
}

.card {
  width: 170px;
  margin-top: 10px;
  height: 100;
  cursor: pointer;
  text-align: center;
}

.card-title {
  margin-top: 10px;
  font-size: 18px;
}

.card-title img {
  height: 40px;
  width: 40px;
  padding-right: 10px;
  padding-bottom: 10px;
}

.btn {
  background-color: #f87f27;
  color: #ffffff;
  margin-right: 10px;
}
